body {
    margin: 0;
}

header {
    background-color: hsl(0, 0%, 80%);
    display: flex;
    padding: 10px;
}

nav {
    margin: auto 0;
    margin-left: auto;
    margin-right: 50px;
}

#nav-links {
    display: flex;
}

#nav-links a {
    background-color: hsl(0, 0%, 70%);
    margin: 10px;
    padding: 7px;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: .2s;
}

#nav-links a:hover {
    background-color: hsl(0, 0%, 80%);
    border-color: hsl(0, 0%, 70%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
